/* !-- Internal CSS -->
    <!-- text-align cannot use in inline element -->
    <!-- text-align use in in block-level element -->
    <!-- Code read top to bottom --> */
   style{
    
    /* Selecter Element mean select by element name */
    header a{
        display: block;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: red;
    }
    header a{
        color: yellow;
    }
    /* body{
        background-color: black;
    } */
    h2{
        text-align: center;
        color: yellow;
        font-weight: bold;
        text-decoration: underline;
    }
    footer p{
        text-align: center;
        background-color: black;
        color: red;
        margin: 0;

    }
    #year{
        background-color: white;
        color: #1d3557;
        font-weight: bold;

    }
    /* Selector id mean selector by id attribute */
    #goole-link{
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        display: block;
        text-align: center;
        color: red;
    }
}