.container{
    width: 70%;
    margin: 0 auto;
    /* border: 2px solid red; */
}
/* .box{
    border: 3px solid black;
    height: 150px;
    outline: 10px solid yellow;
    outline-offset: 5px ;
    
} */
footer p{

    background-color: blue;
    text-align: center;
    color: white;

}
#para{
    
    text-align: left;
    /* text-decoration: overline underline blue solid; */
    text-transform: capitalize;
    text-indent: 50px;
    /* letter-spacing: 5px; */
    /* word-spacing: 5px; */
    line-height: 1.8;
    

}
/* main h2{
    /* background-color: white; */
    /* color: white;
    text-align: center;
    margin-top: 50px;
    text-shadow: 10px 10px 10px black; */
    /* first value- left to right
    second- value: top to bottom
    third- value: spread
     */ 
/* } */
/* 
main h2 {

    color: #dfdfdf;
    
    text-shadow: 0 2px 2px #dfdfdf, 
    -2px 5px 1px #cbcbcb,
    -4px 8px 1px #979797, 
    -6px 11px 1px #a2a2a2, 
    -8px 14px 1px #aeaeae, 
    -10px 17px 1px #b5b5b5, 
    -12px 20px 1px #bebebe, 
    -14px 23px 1px #cecece, 
    -16px 26px 1px #dbdbdb, 
    -18px 29px 1px #dfdfdf
    
}
main h2{
    color: #fff;

text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;

} */


.font{
    /* font-family: serif;       by default */
    text-align: center;
    /* font-family: sans-serif; */
    /* font-family: cursive;
    font-family: monospace; */
    /* font-family: 'Sixtyfour', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');




}

