/* .container{
    text-align: center;
}
.image,.button{
    width: 150px;
    margin:0 280px;
    margin-bottom: 30px;
    display: inline-block;
}
.button{
    /* margin: 220px; */
    /* margin-right: auto; */
    /* background-color: black; */
    /* color: white; */
/* }
table,tr,th,td{
    border: 1px groove black;
    border-collapse: collapse;
}
table{
    width: 80%;
    margin: 0 auto;
    
    
}
tr,th,td{
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    
} */ 
