* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 70%;
    margin: 0 auto;
}
/* 
.box{
    width: 25%;
    display: inline-block;
    padding: 8px;
}
.card{
    line-height: 200px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    height: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
} */


body {
    background-color: white;

    /* linear gradient */
    /* background-image: linear-gradient(to bottom, red, black);
    min-height: 100vb; */

    /* using ui gradient */
    /* background: #1c92d2;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2,red);  */
     /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #f2fcfe, #1c92d2,red);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* using css gradient generator */
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,164,200,1) 35%, rgba(0,212,255,1) 100%); */

}
/* @media screen and (max-width: 767px) {
    body{
        background-color: green;
    }
    .box{
        width: 50%;
    }

}
@media screen and (max-width: 480px) {
    body{
        background-color: red;
    }
    .box{
        width: 100%;
    }
} */



/* Example # 2 */
.wrapper {overflow: auto;}

#leftside{
    float: none;
    width: auto;
}
#menulist{
    margin: 0;
    padding: 0;
}
.menuitem{
    border: 1px solid red;
    background-color: blue;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: white;
    list-style: none;
}
#main{
    margin-left: 4px;
}
@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }

  .wrapper {overflow: auto;}

#main {margin-left: 4px;}

#leftside {
  float: none;
  width: auto;
}

#menulist {
  margin: 0;
  padding: 0;
}

.menuitem {
  background: #CDF0F6;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;
}

@media screen and (min-width: 480px) {
  #leftside {width: 200px; float: left;}
  #main {margin-left: 216px;}
}