*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: 0 auto;
}
header{
    background-color: aqua;
    text-align: center;

}
header nav a{
    text-decoration: none;
    padding: 10px 0px;
    color: blue;    
    font-weight: bolder;
    font-family: sans-serif;
    display: inline-block;
}
header nav a:hover{
    background-color: white;
}
/* css align */
.bor{
    border: 1px solid red;
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    float: right;
}
img{
    display: block;
    margin: 0 auto;

}
.bor1{
    border: 1px solid red ;
    height: 100px;
    width: 50%;
    padding: 30px 0;
    text-align: center;
}
/* pseudo class */
.ancher a:link{
    color: blue;
}

.ancher a:visited{
    color: red;
}
.ancher a:hover{
    color:wheat;
}
.ancher a:active{
    color: black;
}
.click p{
    background-color: yellow;
    color: black;
    padding: 10px;
    border: 1px solid red;
    display: none;
} 
.click:hover p{
    display: block;
}
/* pseudo element */
.pseudo p::first-line{
    background-color: yellow;
    color: red;
}
.pseudo  p{

    text-indent: 200px;
}
.pseudo p::first-letter{
    font-size: 200px;
}
/* opacity */
.opacy img{
    opacity: 0.50;
}
.opacy img:hover{
    opacity: 1;
}
.bor3{
    border: 1px solid red;
    width: 600px;
    height: 300px;
    margin: auto;
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.90Z1UP48XlyPkR23rPyUqgHaEy&pid=Api&P=0&h=220");
    opacity: 0.5;
}
.bor4{
    border: 1px solid red;
    background-color: black;
    width: 300px;
    height: 100px;
    margin:100px;
    opacity: 0.9;

}
.bor4 p{
    padding: 20px;
    color: lightblue;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
}
li a{
    display: block;
    padding: 10px 0;
    background-color: black;
    color: wheat;
}
li a:hover{
    background-color: white;
    color: black;
}



footer{
    background-color: aqua;
    text-align: center;
    color: blue;
    padding: 10px 0px;
}
